#header-img {
    display: block;
    box-shadow: brown;
    color: rgba(1,1,1,1);
    width: 40vm;
}
/*#form {*/
/*    href="https://www.freecodecamp.com/email-submit" alt="Counting the Number of Emails.";*/
/*}*/
.button{
    cursor: pointer;
}

#video {
    height: auto;
    width: auto;
}

.block {

    display: block;
    padding: 5px;


}

h1, h2, h3 {
    font-family: "Pinyon Script", "Rouge Script", script;
}

.wrapper {
    overflow: auto;
}

#main {
    margin-left: 10px;
}

#leftsidebar {
    float: none;
    width: auto;
}
#yarn-pics {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;

}
#yarn-pics img {
    max-width: 33%;
    padding: 10px;

}

#menulist {
    margin: 5px;
    padding: 5px;

}
#nav-bar {
    position: fixed;
}

.nav-link{
    background: #98f6a1;
    border: 2px solid #2dd467;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
    font-size: 24px;
    text-align: justify;


}
a {
    text-decoration: none;

}
a:hover {
    color: #faffa1;
    position: relative;

}

@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
}
