#header-img {
    display: block;
    box-shadow: azure;
    width: 40vm;
}
#form {
    href="https://www.freecodecamp.com/email-submit" alt="Counting the Number of Emails.";
}
.button{
    cursor: pointer;
}

#video {
    height: auto;
    width: auto;
}

h1 {
    font-family: Countryside, "Comic Sans MS" ;
}
h2 {
    font-family: Countryside, "Comic Sans MS" ;
}
h3 {
    font-family: Countryside, "Comic Sans MS" ;
}
.wrapper {overflow: auto;}

#main {margin-left: 10px;}

#leftsidebar {
    float: none;
    width: auto;
}
#yarn-pics {
    justify-content: space-around;
    display: flex;


}
#menulist {
    margin: 5px;
    padding: 5px;

}
#nav-bar {
    position: fixed;
}

.nav-link{
    background: #edd7f6;
    border: 2px solid #d46059;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
    font-size: 24px;
    text-align: justify;

}

@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
}
